# Path base donde está montado el frontend. Default: "/"
VITE_BASE_PATH=/

# URL base del API. En dev se deja en "/api" (lo proxea Vite)
VITE_API_BASE=/api

# Target del proxy de Vite en dev
VITE_API_PROXY_TARGET=http://localhost:3000
